/* Global Reset */
* {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main & Navbar Container */
main,
.navbar {
    width: 70%;
    margin: auto;
}

/* Header Styling */
header {
    top: 0;
    background-color: #ffffff;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
}

/* Top Navbar Styling */
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #808080;
    font-size: 0.9em;
}

.top-navbar ul {
    display: flex;
    align-items: center;
}

.top-navbar ul li {
    margin-top: 10px;
    margin-left: 10px;
}

.top-navbar ul li a {
    color: #808080;
}

.top-navbar li a:hover {
    color: var(--brand-red);
}

.top-left-navbar-list ul li a {
    margin-right: 20px;
}

.top-right-navbar-list li a {
    border-right: 1px solid #808080;
    padding-right: 20px;
}

/* Icons */
.icons li img {
    width: 15px;
    transition: transform 0.3s ease-in-out;
}

.icons li img:hover {
    transform: scale(1.3);
}

/* Burger Menu (Hidden on Desktop) */
.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-button button img {
    width: 30px;
}

/* Bottom Navbar */
.bottom-navbar {
    position: sticky;
    padding-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand {
    margin-top: 1.5em;
}

#brand p span {
    font-weight: bold;
}

#brand .highlight {
    color: var(--brand-red);
}

#brand h1 a {
    color: #000000;
    text-decoration: none;
}

/* Bottom Middle Navbar */
.bottom-middle-navbar ul {
    display: flex;
    justify-content: flex-start;
}

.bottom-middle-navbar ul li {
    margin-top: 1em;
    padding-left: 20px;
    list-style: none;
}

.bottom-middle-navbar ul li a {
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}

.bottom-middle-navbar ul li a:hover {
    color: var(--brand-red);
}

/* Bottom Right Navbar */
.bottom-right-navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom-right-navbar ul li {
    list-style: none;
}

.bottom-right-navbar ul a {
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
    margin-left: 15px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    main,
    .navbar {
        width: 90%;
    }

    header {
        height: 60px;
    }

    .top-right-navbar-list,
    .top-left-navbar-list,
    .bottom-middle-navbar {
        display: none;
    }

    .top-navbar {
        border: none;
        padding-bottom: 0;
    }

    .burger-menu {
        display: flex;
        align-items: center;
    }

    #brand {
        margin-top: 0;
    }

    #brand span {
        font-size: 0.75em;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    .burger-menu ul li {
        display: none;
    }
}
/*Main content*/

/* Promo */
.promo {
    background-color: #000000;
    text-align: center;
}

.promo p {
    font-size: 1.3em;
    color: white;
    padding: 5px;
}
.promo p a:hover {
    animation: 0.4s ease forwards;
}

.promo p a {
    padding: 7px;
    text-decoration: none;
    color: rgba(206, 189, 156, 255);
    border-bottom: solid rgba(206, 189, 156, 255);
    transition: 0.3s ease;
    display: inline-block;
}

/* Content */
.content {
    min-height: 500vh;
}


/* Showcase*/
.showcase {
    position: relative;
}

.showcase img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.showcase-header {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

.showcase-header h1, h2 {
    letter-spacing: 10px;
    color: white;
    font-weight: 400;
}

.showcase-header h2 {
    font-size: 1em;
    letter-spacing: 5px;
}

/* Showcase Buttons*/
.showcase-btn {
    position: absolute;
    top: 70%;
    left: 50%;

    width: 320px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%);

    padding: 0 20px;

    color: white;
    text-decoration: none;
    letter-spacing: 6px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;

    background: transparent;
    border: 2px solid rgba(255,255,255,.8);

    transition: all .3s ease;
}

.showcase-btn:hover {
    background: rgba(255,255,255,.15);
}

.arrow {
    width: 55px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px solid rgba(255,255,255,.5);
    font-size: 28px;
}

/* Showcase cards */

.showcase-cards {
    display: flex;
    justify-content: center;
    gap: 7%;
    min-height: 30vh;
    background: #1C1C1C;
}

.card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 0;
}

.card h2 {
    letter-spacing: 0px;
    color: #E6C5B8;
    font-weight: 500;
}

.card p {
    color: #EAE6E1;
}

.card img {
    width: 150px;
    height: auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 200px;
}

.card-content button {
    color: white;
    border: none;
    border-bottom: solid white 1px;
    background: none;
    max-width: 70%;
    font-size: 1em;
    transition: all .3s ease;
}
.card-content button:hover {
    cursor: pointer;
    background: rgba(255,255,255,.15);
}
